.container
  %h1.logo
    seam
    %span.less less

  .recommendation-section
    .row
      .col-xs-2
        .tag-section
          .label.label-seamless
            Etsy
          .label.label-seamless
            Basketball
          .label.label-seamless
            Rap
      .col-xs-7
        %h3.shoe-title
          = link_to "Nike Air Yeezy II Black Solar Red", "/"
        .jumbotron
          = image_tag "example.jpg", :class => "shoe-image"
      .col-xs-2
        .vote-section
          .jumbotron.vote
            .vote-button ^
          .jumbotron.vote
            .vote-button ^

