// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background:url("halftone.png");
  border-top:5px solid rgba(92, 151, 191, 0.6);
}

.logo{
  font-size:40px;
  color:#bdc3c7;
}

.jumbotron{
  background:#fff;
}

.recommendation-section{
  margin-top:50px;
}

.shoe-title{
  color:#6C7A89;
  margin-bottom:30px;
}

.shoe-image{
  width:100%;
}

.tag-section, .vote-section{
  margin-top:80px;
}

.less{
  margin-left:-10px;
  color:rgba(92, 151, 191, 0.6);
}
