// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background:url("halftone.png");
  border-top:4px solid #AEA8D3;
}

.logo{
  font-size:60px;
  color:#bdc3c7;

}
