// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background:url("halftone.png");
  border-top:5px solid rgba(92, 151, 191, 0.6);
}

.logo{
  font-size:40px;
  color:#bdc3c7;
  cursor:default;
}

.jumbotron{
  background:#fff;
}

.recommendation-section{
  margin-top:50px;
}

.label{
  margin-right:10px;
}

.shoe-title{
  margin-bottom:30px;
}

.shoe-title a{
  color:#6C7A89;
}

.shoe-title a:hover{
  color:rgba(92, 151, 191, 0.6);
  text-decoration:none;
}


.shoe-image{
  width:90%;
}

.label-seamless{
  background:rgba(92, 151, 191, 0.6);
}

.tag-section, .vote-section{
  margin-top:80px;
}

.less{
  margin-left:-10px;
  color:rgba(92, 151, 191, 0.6);
}

.vote{
  background:#eeeeee;
  cursor:pointer;
}

.vote:hover{
  background:#f9f9f9;
}

.vote:active{
  background:rgba(92, 151, 191, 0.6);
}

.vote-button{
  text-align:center;
  margin:0px auto;
  font-size:80px;
  font-weight:bold;
  line-height:60px;
  margin-bottom:-10px;
  color:white;
}
